{% from "components/postTag.html" import postTag %}

{% macro blogPreview(blog) %}

{% set imgObj = apos.images.first(blog.coverImage) %}
{% set imgSrc = apos.attachments.url(imgObj) %}

<a class="blog-preview__container" href="{{ blog._url }}">
    <div class="blog-preview__border-top"></div>
    <div class="blog-preview__content-container">
        <div class="blog-preview__cover-image">
            <img src="{{ imgSrc }}" alt="">
        </div>
        <div class="blog-preview__info-container">
            {# {{ apos.log(blog.preview.items[0].content) }} #}
            <div class="blog-preview__title">{{ blog.title }}</div>
            <div class="blog-preview__issue-date">{{ blog.issueDate }}</div>
            <div class="blog-preview__tags">
                {% for tag in blog.tags %}
                    {{ postTag(tag) }}
                {% endfor %}
            </div>
            <div class="blog-preview__preview">{{ blog.preview.items[0].content | safe }}</div>
        </div>
    </div>
</a>
{% endmacro %}