{% macro homepageShowOffItem(showOffItem) %}
<div class="homepage-show-off-item-container">
    <div class="box"></div>
    <div class="content">
        <div class="big-number">{{ showOffItem.bigNumber }}</div>
        <div class="explain">{{ showOffItem.explain }}</div>
    </div>
</div>
{% endmacro %}

{% macro homepageShowOffBar(showOffItems) %}
    <div class="home-page-show-off-bar-container">
        <div class="box-container">
            {% for showOffItem in showOffItems %}
                {{ homepageShowOffItem(showOffItem) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}