{% from "components/button.html" import button %}

{% macro homepageBanner(image='') %}
    <div class="homepage-banner"
        style="
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) ), url('http://res.cloudinary.com/wisdomabioye/image/upload/v1462961781/about_vbxvdi.jpg') no-repeat center center;
        ">
        <p class="banner-title">FOCUS ON PERFORMANCE</p>
        <p class="banner-tagline">FIDT - Đội ngũ Tư vấn đầu tư và Quản lý tài sản hàng đầu Việt Nam</p>
        <div class="banner-buttons">
            {{ button("#", "VỀ CHÚNG TÔI") }}
            {{ button("#", "SẢN PHẦM", "flat") }}
        </div>
    </div>
{% endmacro %}