{% from "components/button.html" import button %}

{% macro homepageBanner(image='') %}
    <div class="homepage-banner"
        style="
        background-image: url('/banner.jpg');
        ">
        <p class="banner-title">FOCUS ON PERFORMANCE</p>
        <p class="banner-tagline">FIDT - Đội ngũ Tư vấn đầu tư và Quản lý tài sản hàng đầu Việt Nam</p>
        <div class="banner-buttons">
            {{ button("#", "VỀ CHÚNG TÔI") }}
            {{ button("#", "SẢN PHẦM", "flat") }}
        </div>
    </div>
{% endmacro %}