{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% from "components/dropdownMenu.html" import dropdownMenu as dropdownMenu %}
{% from "components/singleNavItem.html" import singleNavItem %}
{% from "components/dropdownSidebarItem.html" import dropdownSidebarItem %}
{% from "components/singleSidebarItem.html" import singleSidebarItem %}


{% block title %}
{# Create a useful, SEO-friendly title tag based on what we have #}
{% if data.piece %}
{{ data.piece.title }}
{% elseif data.page %}
{{ data.page.title }}
{% else %}
{# {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }} #}
{% endif %}
{% endblock %}

{% block extraHead %}
{#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet">
{% endblock %}

{# <div class="gl-container"> #}
{# 
    This block to fixed header and footer
  #}

{% block beforeMain %}
{#
      We recommend you use the beforeMain block for global page components
      like headers or navigation.
    #}
<div class="gl-header-top">
  <div class="gl-header-band"></div>
  <div class="gl-header">
    <a class="gl-header-logo" href="/">
      <img class="gl-header-logo-img" src="/logo.png" alt="">
    </a>
    <div class="gl-header-left-nav">
      {% for navItem in apos.settings.getOption('headerNavigations') %}
        {% if navItem.type == 'single' %}
          {{ singleNavItem(navItem.title, navItem.url) }}
        {% endif %}

        {% if navItem.type == 'dropdown' %}
          {{ dropdownMenu(navItem.title, navItem.menuItems) }}
        {% endif %}
      {% endfor %}
      <div class="gl-header-nav-white-space"></div>
      <div class="gl-header-right-nav">
        <div class="gl-header-nav-item"><a href="">Đăng nhập</a></div>
        <div class="gl-header-nav-item"><a href="">EN</a></div>
        <div class="gl-header-nav-item"><a href="">VI</a></div>
      </div>
      
    </div>
  </div>
</div>
<div class="gl-header-spacing"></div>
{% endblock %}

{% block main %}
{#
        Usually, your page templates in the apostrophe-pages module will override
        this block. It is safe to assume this is where your page-specific content
        should go.
      #}
{% endblock %}


{% block afterMain %}
{#
      This would be a great place to put a global footer.
    #}

{{ apos.singleton(data.global, 'globalFooter', 'footer', {}) }}

{% endblock %}
{# </div> #}
<script>
  function openSidebar() {
    document.getElementById("gl-sidebar").style.marginLeft = "0px"
    document.getElementById("gl-main-content").style.marginLeft = "250px"
  }

  function closeSidebar() {
    document.getElementById("gl-sidebar").style.marginLeft = "-250px"
    document.getElementById("gl-main-content").style.marginLeft = "0px"
  }
</script>