{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% from "components/dropdownMenu.html" import dropdownMenu as dropdownMenu %}
{% from "components/singleNavItem.html" import singleNavItem %}

{% block title %}
{# Create a useful, SEO-friendly title tag based on what we have #}
{% if data.piece %}
{{ data.piece.title }}
{% elseif data.page %}
{{ data.page.title }}
{% else %}
{{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
{% endif %}
{% endblock %}

{% block extraHead %}
{#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{% endblock %}

{# <div class="gl-container"> #}
  {# 
    This block to fixed header and footer
  #}

  {% block beforeMain %}
  {#
      We recommend you use the beforeMain block for global page components
      like headers or navigation.
    #}
  <div class="gl-header-top">
    <div class="gl-header">
      <a class="gl-header-logo" href="/">
          <img class="gl-header-logo-img" src="/logo.png" alt="">
      </a>
      <div class="gl-header-nav">
        {% for navItem in apos.settings.getOption('headerNavigations') %}
          {% if navItem.type == 'single' %}
            {{ singleNavItem(navItem.title, navItem.url) }}
          {% endif %}
          
          {% if navItem.type == 'dropdown' %}
            {{ dropdownMenu(navItem.title, navItem.menuItems) }}
          {% endif %}
        {% endfor %}
        <div class="gl-header-nav-white-space"></div>
        <div class="gl-header-nav-item"><a href="">Đăng nhập</a></div>
        <div class="gl-header-nav-item"><a href="">EN</a></div>
        <div class="gl-header-nav-item"><a href="">VI</a></div>
      </div>
    </div>
  </div>
  {% endblock %}
  
  {% block main %}
    {#
        Usually, your page templates in the apostrophe-pages module will override
        this block. It is safe to assume this is where your page-specific content
        should go.
      #}
  {% endblock %}


  {% block afterMain %}
  {#
      This would be a great place to put a global footer.
    #}
  {# <div class="gl-footer">
    <div class="gl-footer-contact">
      <div class="gl-footer-contact-line">
        <a href="mailto:support@fidt.vn">
          <img src="https://cdn.iconscout.com/icon/free/png-256/email-1818372-1541480.png" alt="">
          <span>support@fidt.vn</span>
        </a>
      </div>
      <div class="gl-footer-contact-line">
        <a href="tel:036%20233%200323">
          <img src="https://icons-for-free.com/iconfiles/png/512/phone-131964784943439862.png" alt="">
          <span>036 233 0323</span>
        </a>
      </div>
    </div>
    <div class="gl-footer-white-space"></div>
    <div class="gl-footer-social">
      <a href="https://www.facebook.com/FIDTFanpage">
        <img src="https://tuongxinh.com.vn/wp-content/uploads/2018/09/facebook-icon.jpg" alt="">
      </a>
      <a href="https://www.youtube.com/channel/UCLEAkwK_VFd81fK1KZhJ55Q">
        <img src="https://i.pinimg.com/474x/d4/48/2b/d4482ba4e7ebdbff7b8ba73e7d39aceb.jpg" alt="">
      </a>
      <a href="http://036%20233%200323/">
        <img src="https://icons-for-free.com/iconfiles/png/512/phone-131964784943439862.png" alt="">
      </a>
    </div>
    <div class="gl-footer-credit">
      Copyright FIDT@2021
    </div>
  </div> #}
  {% endblock %}
{# </div> #}
